* {
  margin: 0;
  padding: 0;
}

@keyframes ani {
  from {
    width: 200px;
    height: 200px;
    background: red;
    transform: translate(0, 0) scale(1) rotate(0deg);
  }

  30% {
    transform: translate(500px, 0) scale(1) rotate(0deg);
  }

  50% {
    transform: translate(500px, 500px) scale(1.5) rotate(180deg);
    opacity: 0.5;
  }

  70% {
    transform: translate(0, 500px) scale(1) rotate(180deg);
  }

  to {
    width: 300px;
    height: 300px;
    background: blue;
    border-radius: 50%;
    transform: translate(0, 0) scale(1) rotate(360deg);
  }
}

.box1 {
  border: 2px solid red;
  position: absolute;
  animation: ani 3s ease-out 0s 3;
  /*animation-name: ani;
  /*animation-delay: 1s; /*실행전 지연시간*/
  /*animation-duration: 2s; /*1회 실행시간*/
  /*animation-iteration-count: 1; /* 반복횟수 (infinite(무한)) */
  /*animation-timing-function: ease-out; /*속도 형태*/
  /* animation-direction: alternate; /*반복 형태*/
  /* animation-fill-mode: forwards; */
}
