* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16ep;
}

.rgbaBox {
  width: 500px;

  border: 1px solid #333;
  font-weight: bold;
  text-align: justify;
  line-height: 1.5em;
}

.rgbaBox2 {
  width: 500px;

  border: 1px solid #333;
  font-weight: bold;
  text-align: justify;
  line-height: 1.5em;
}

.webstd {
  border: 10px solid rgba(255, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

.html5Css3Text {
  background: rgba(0, 255, 0, 0.3);
}

.webstd2 {
  opacity: 0;
  background: yellow;
}

.webstd2:hover {
  opacity: 1;
}

#gradientBox div {
  margin-bottom: 10px;
}
#gradientBox .gradient1 {
  width: 600px;
  padding: 20px;
  background: #676300;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#00f),
    to(#fff)
  );
  background: -moz-linear-gradient(bottom 45deg, #00f, #fff);
}
#gradientBox .gradient2 {
  width: 600px;
  padding: 20px;
  background: -webkit-linear-gradient(
    top,
    #bfd255 0%,
    #8eb92a 50%,
    #72aa00 51%,
    #9ecb2d 100%
  );
  background: -moz-linear-gradient(
    top,
    #bfd255 0%,
    #8eb92a 50%,
    #72aa00 51%,
    #9ecb2d 100%
  );
}
#gradientBox .gradient3 {
  width: 600px;
  padding: 20px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #e3f0f4 0%,
    #0fb4e7 100%
  );
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #e3f0f4 0%,
    #0fb4e7 100%
  );
}
