@font-face {
  font-family: "nanumfont";
  src: url(../font/nanum.ttf) format("truetype");
}

@font-face {
  font-family: "daumfont";
  src: url(../font/Daum_SemiBold.ttf) format("truetype"),
    url(../font/Daum_SemiBold.woff) format("woff");
}

@font-face {
  font-family: "torontozoopenguins";
  src: url(../font/torontozoopenguins.ttf) format("truetype");
}

/* 한글 위주 텍스트 */
.fontBox04 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}

.fontBox05 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

/* 한글과 영문이 섞인 텍스트용 */

body {
  font-size: 16px;
  color: #333;
}

div {
  width: 600px;
  border: 5px solid #999;
  margin: 50px;
  text-align: justify;
  padding: 30px;
  line-height: 1.5em;
}

.fontBox01 {
  font-family: nanumfont;
}

.fontBox02 {
  font-family: daumfont;
}

.fontBox03 {
  font-family: torontozoopenguins;
}
