* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-size: 16px;
}

.process {
  margin-top: 30px;
  margin-left: 50px;
  width: 557px;
  height: 102px;
  border: 1px solid red;
  list-style: none;
  background: url(../back.jpg);
  text-indent: -999px;
  overflow: hidden;
}

.group {
  width: 751px;
  height: 561px;
  border: 1px solid red;
  background: url(../a2.jpg);
  text-indent: -999px;
  overflow: hidden;
  margin: 50px;
}
