* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
}
a {
  color: #333;
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
}
.hidden {
  display: block;
  position: absolute;
  left: -1000%;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

/* main about */
#content .about {
  padding: 30px;
  background: #131021;
  color: #fff;
}
#content .about ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 1fr 1fr 1fr 1fr  */
  grid-auto-rows: auto;
  gap: 20px;
  grid-template-areas:
    "a a b c "
    "d e f h "
    "d e g h ";
}
#content .about ul li:nth-child(1) {
  grid-area: a;
}
#content .about ul li:nth-child(2) {
  grid-area: b;
}
#content .about ul li:nth-child(3) {
  grid-area: c;
}
#content .about ul li:nth-child(4) {
  grid-area: d;
}
#content .about ul li:nth-child(5) {
  grid-area: e;
}
#content .about ul li:nth-child(6) {
  grid-area: f;
}
#content .about ul li:nth-child(7) {
  grid-area: g;
}
#content .about ul li:nth-child(8) {
  grid-area: h;
}

#content .about ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#content .about ul li strong {
  font-size: 2.5em;
  margin-bottom: 15px;
  display: block;
}
#content .about ul li p {
  line-height: 1.5em;
  margin-bottom: 20px;
}

/* 일반pc */
@media screen and (max-width: 1280px) {
  #content .about ul li:nth-child(3) {
    display: none;
  }
  #content .about ul li:nth-child(4) {
    display: none;
  }
  #content .about ul {
    grid-template-columns: 1fr 1fr 1fr; /* repeat(3, 1fr) */
    grid-gap: 15px;
    grid-template-areas:
      "a a b"
      "e f h"
      "e g h";
  }
}

/* 테블릿 */
@media screen and (max-width: 1024px) {
  #content .about ul li:nth-child(5) {
    display: none;
  }
  #content .about ul li:nth-child(1) p:nth-of-type(3) {
    display: none;
  }
  #content .about ul li:nth-child(8) p:nth-of-type(2) {
    display: none;
  }
  #content .about ul {
    grid-template-areas:
      "a a b"
      "f g h";
  }
}

/* 소형 테블릿 */
@media screen and (max-width: 768px) {
  #content .about ul li:nth-child(2) {
    display: none;
  }
  #content .about ul li img {
    border-radius: 30px;
  }
  #content .about ul {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a a"
      "f g"
      "h h";
  }
}

/* 모바일 */
@media screen and (max-width: 640px) {
  #content .about ul li:nth-child(1) p:nth-of-type(2) {
    display: none;
  }
  #content .about ul li strong {
    font-size: 2em;
    color: orange;
    margin-bottom: 10px;
  }
  #content .about ul {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "a"
      "f"
      "h"
      "g";
  }
}
