*{margin: 0; padding: 0;}
img{border: 0; vertical-align: top;}

.total_div{
    width: 965px;
    border: 1px solid red;
    margin: 0 auto; 
    overflow: hidden;  
}

.left_all{
    width: 303px;
    float: left;
}

.content{
    width: 662px;
    float: right;
}

.footer{clear: both;}
