* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

a {
  display: block;
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 1400px;
  border: 1px solid red;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  width: 200px;
  background: orange;
  text-align: center;
  padding: 15px;
}

nav {
  margin-top: 10px;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav ul li a {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
}

.top_menu {
  display: flex;
  gap: 10px;
}

.top_menu li a {
  font-size: 1.1rem;
  padding: 10px;
  margin-top: 13px;
}
/* .box {
  width: 300px;
  height: 200px;
  border: 1px solid red;
  margin: 20px auto;
}

.box ul {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.box li {
  width: 70px;
  height: 50px;
  background: palevioletred;
  border: 2px solid #999;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0.5rem;
}

.box ul li:nth-of-type(even) {
  transform: translateY(50px);
} */

.event-badge {
  background: linear-gradient(45deg, #e77e2d, #d92629);
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* 할인 이벤트 */
.discount-icon {
  background: #d92629;
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}

.discount-icon::before {
  content: "%";
  font-size: 32px;
}

/* 증정 이벤트 */
.gift-icon {
  background: #017121;
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.gift-icon::before {
  content: "FREE";
}
