*{margin: 0; padding: 0;}
a{text-decoration: none; color: #333;}
body{background: green;}
.hidden{display: block; position: absolute;
   width: 1px;height: 1px; overflow: hidden; color: #fff;
   left: -1000%; top:0}

 .pop .modal_box{position: fixed; left: 0; top: 0; z-index: 50; width: 100%; height: 100%; 
     background: #000; opacity: .7; display: none;}

.pop .pop_btn{position:absolute;z-index: 60; top:50%; margin-top: -100px; font-size: 100px; width: 100%; display: none;}
.pop .pop_btn a{display: block; position: absolute; top:0; left:50%; color: #fff; opacity: .4; transition: all .5s;}
.pop .pop_btn a:hover{opacity: .9;}
.pop .pop_btn .pre{margin-left: -500px;}
.pop .pop_btn .next{margin-left: 430px;}

.pop  .popup{position: fixed; top: 50%; left: 50%; margin: -300px 0 0 -300px; 
     width: 600px; height: 600px; background: #fff; box-shadow: 1px 3px 7px 0px #666;
     z-index: 60; display:none;}
.pop  .popup img{width: 94%; margin:20px 3%;}
.pop  .popup dl{width: 94%; margin:10px 3%; text-align: center;}
.pop  .popup dt{font-size: 1.2em; font-weight: bold; margin-bottom: 10px; color: orange;}
.pop  .popup span{font-size:1.1em ; position: absolute;
        right: 20px; bottom: 20px; color: red;}

.pop  .popup .close_btn{position: absolute; top: 25px; right: 5px; 
     display: block; text-indent: -999px; overflow: hidden; width: 32px; 
     height: 32px; padding: 9px 9px; background: url(../images/cancel.png) no-repeat;}
