* {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
  margin: 100px 0 0 100px;
}
button {
  width: 150px;
  height: 150px;
  margin: 100px;
  background: blue;
  color: #fff;
  font-size: 30px;
  border-radius: 30px;
}
