*{margin: 0; padding: 0;}

body{
    font-size: 16px;
    font-family: 맑은고딕;
    color: #333;

}

a{
    color: #333;
    text-decoration: none;
}

ul{
    list-style: none;
}

.wrapper{
    width: 1200px;
    border: 1px solid #999; /*옅은회색*/
    margin: 0 auto;
}

.header{
    border: 1px solid #999;
    background-image: url(../img/top.jpg);
    background-repeat: no-repeat;
    background-size: cover ; /*꼭 채우기*/
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 7);

}

.header h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 30xp 0;
}

.header h1 a:hover{
    color: orange;
}


.header::before {
    content: ""; /* 빈 가상 요소 생성 */
  /* position: absolute; /* 부모 기준 절대 위치 */
    top: 0; left: 0; right: 0; bottom: 0; /* 부모 크기 꽉 채우기 */
   /* background-color: rgba(0,0,0,0.4); /* 반투명 검은색 배경 */
    z-index: 0; /* 텍스트 뒤에 위치 */
}

.header > h1 {
    position: relative; /* z-index가 먹히게 하는 기준 */
    z-index: 1; /* 가상 요소 위에 표시 */
}

.nav{
    width: 200px;
    float: left;
}

.nav ul {
    padding:  100px 0;
    text-align: center;
}

 
.nav ul li a {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 15px 0;
}

.nav ul li a:hover{
    background: orange;
    color: #fff;
}

.content{
    width: 798px;
    float: left;
    border-left: 1px solid #999;
    border-right: 1px solid #999 ;
    background-image: url(../img/center.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content li{
    overflow: hidden;
    
}

.content li img{
    float: left;
    margin: 20px;
}

.content li p{
    font-size: 1em;
    text-align: justify;
    line-height: 1.5em;
    margin: 20px 20px 0 0;
}

.content>p{
    font-size: 0.95em;
    color: purple;
    text-align: justify;
    margin: 0 20px 20px;
}

.promo{
    width: 200px;
    float: right;
}

.promo ul {
    padding:  100px 0;
    text-align: center;
}

 
.promo ul li a {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 15px 0;
}

.promo ul li a:hover{
    background: greenyellow;
    color: #fff;
}

.footer{
    clear: both;
    border-top: 1px solid #999;
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
}
.footer p{
    font-size: 0.95em;
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
    
}