* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.rgbaBox {
  width: 500px;

  border: 1px solid #333;
  font-weight: bold;
  text-align: justify;
  line-height: 1.5em;
}

.rgbaBox2 {
  width: 500px;

  border: 1px solid #333;
  font-weight: bold;
  text-align: justify;
  line-height: 1.5em;
}

.webstd {
  border: 10px solid rgba(255, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

.html5Css3Text {
  background: rgba(0, 255, 0, 0.3);
}

.webstd2 {
  opacity: 0.2;
  background: yellow;
}

.webstd2:hover {
  opacity: 1;
}

#gradientBox div {
  margin-bottom: 10px;
}
#gradientBox .gradient1 {
  width: 600px;
  padding: 20px;
  background: linear-gradient(
    135deg,
    rgb(242, 252, 50) 1%,
    rgb(255, 48, 48) 100%,
    rgb(125, 185, 232) 100%
  );
}
#gradientBox .gradient2 {
  width: 600px;
  padding: 20px;
  background: radial-gradient(
    ellipse at center,
    rgb(255, 234, 234) 1%,
    rgb(255, 0, 0) 67%,
    rgb(160, 30, 30) 100%
  );
}
#gradientBox .gradient3 {
  width: 600px;
  padding: 20px;
  background: linear-gradient(to bottom, #ff6b35 0%, #f7931e 50%, #ffdc00 100%);
}
