* {
	margin: 0;
	padding: 0;
}

/*characters*/
.characters {
	position: relative;
	width: 90%;
	margin: 100px auto;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	padding: 5%;
	box-sizing: border-box;
	color: #fff;
}
.characters h3 {
	text-align: center;
	font-size: 60px;
}
.characters .charbox {
	width: 55%;
}
.characters .charbox img {
	width: 100%;
}
.characters .gallery-thumbs {
	position: absolute;
	right: 30px;
	top: 25%;
	width: 40%;
}
.characters .gallery-thumbs dt {
	font-size: 30px;
	font-weight: bold;
	color: red;
}
.characters .gallery-thumbs .text {
	margin-bottom: 20px;
}
.characters .gallery-thumbs ul {
	overflow: hidden;
	width: 80%;
}
.characters .gallery-thumbs ul li {
	width: 31.33%;
	float: left;
	margin: 1%;
}
.characters .gallery-thumbs ul li a {
	display: block;
	filter: grayscale(100%);
}
.characters .gallery-thumbs ul li img {
	width: 100%;
	border-radius: 10px;
}

.characters .gallery-thumbs .more {
	font-size: 1.3rem;
	display: block;
	text-decoration: none;
	color: #fff;
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	margin: 30px;
	text-align: center;
}
