@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
img{border:0; vertical-align:top;}

.main{ position:relative;width:1000px; height:420px;
    border:1px solid red; }

.gallery{position:relative;left:0; top:0; overflow:hidden; width:1000px; height:380px;}
.gallery ul li{list-style:none; }
.gallery .link1,.gallery .link2,.gallery .link3,.gallery .link4,.gallery .link5{display:none}

.dock{width:330px; position:absolute; left:450px; top:380px;}

.dock .mbutton{ margin-right:15px; cursor:pointer; 
    display:block; float:left; width:15px; height:15px; background:url(../images/bnt.png)}

.dock .ps{ margin-right:15px; margin-top: -5px; cursor:pointer; 
    display:block; float:left; width:25px; height:25px;
    background:url(../images/stop.png)}






