@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
img{border:0; vertical-align:top;}
.visual{ position:relative;width:1000px; height:420px; overflow: hidden  }

.gallery{position:relative;overflow:hidden; width:5000px;
          height:380px;left:0; top:0;}
.gallery ul li{ float:left; list-style:none; }

.gallery_text{position: absolute; top: 150px;
      width: 100%; }
.gallery_text li{text-align: center;
    font-size: 50px; color: #fff; background: rgba(0,0,0,.7); padding: 20px 0; display: none}

.dock{width:500px; position:absolute; left:450px; top:350px;}

.dock span.mbutton{ margin-right:15px; cursor:pointer; display:block;
           float:left;  width:16px; height:16px;
   background: #00f; border-radius:8px;
  transition: all .5s}
.dock .ps{ margin-right:15px; margin-top: -5px; cursor:pointer; 
    display:block; float:left; width:25px; height:25px;
    background:url(../images/stop.png)}

.visual .btn{display: block; width: 40px; height: 100px; background: red;
        position: absolute;  top:150px;cursor:pointer; }
.visual .btnLeft{left:30px;}
.visual .btnRight{right:30px}

