@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
img{border:0; vertical-align:top;}
ul{list-style: none;}
.hidden{display: block; position: absolute; left:-1000%; overflow: hidden;}


.visual{ position:relative;width:1000px; height:420px;
    border:1px solid red; overflow:hidden}


.gallery{position:relative;left:0; top:0; overflow:hidden; width:1000px; height:380px;}
.gallery li{display:none; position: relative;}

.gallery img{animation: ani 30s linear infinite;}
@keyframes ani {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

.gallery li span{position: absolute; left: 450px; top: 210px; opacity: 0; 
    font-size: 50px; color: #fff;  }

/* .gallery .link1 span{ left:  100px; top: 300px;} */

.dock{width:330px; position:absolute; left:450px; top:380px;}

.dock .mbutton{ margin-right:15px; cursor:pointer; 
    display:block; float:left; width:16px; height:16px;
   background: #00f; border-radius:8px;
  transition: all .5s}

.dock .ps{ margin-right:15px; margin-top: -5px; cursor:pointer; 
    display:block; float:left; width:25px; height:25px;
    }
.dock .ps i{font-size: 30px; color: red;}   

.visual .btn{display: block; width: 40px; height: 100px; background: red;
        position: absolute;  top:150px;cursor:pointer; }
.visual .btnLeft{left:50%; margin-left: -490px;}
.visual .btnRight{left:50%; margin-left: 450px;}    






