@charset "utf-8";
/* CSS Document */
/* base */
*{margin:0;padding:0}
ul,ol{list-style:none}
a{color:#333;text-decoration:none}
a:hover, a:active, a:focus{color:#333;}

#wrap{width: 100%;}
#headerArea{width: 100%; position: fixed; background: green; height: 57px;}
#headerArea .headerInner{width: 1200px; margin: 0 auto;}

ul.dropdownmenu{width:1000px; height:57px;float:left; margin-left:100px;}
ul.dropdownmenu li.menu{float:left;position:relative; width: 16.66%; text-align: center;}
ul.dropdownmenu li.m1{margin-left:0px;}
ul.dropdownmenu li h3{ height:57px;}

ul.dropdownmenu li a.depth1{display:block; font-size: 14px; transition: all .5s; padding:20px 0; color:#333}


/* 2depth 중요 */
ul.dropdownmenu li ul{position:absolute;top:57px; left:0;width:100%;padding:15px 0; background: green; display: none;}

ul.dropdownmenu li.menu ul li a{ display:block; color:#fff; font-weight:bold; padding: 10px 0;
               transition: all .5s; margin: 0 5px; border-radius: 5px;}
ul.dropdownmenu li.menu ul li a:hover{color:#000; background: #fff;}





