/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
	vertical-align: top;
}
ul,
ol {
	list-style: none;
}
body {
	font-family: "돋움";
	font-size: 14px;
	color: #333333;
}
a {
	color: #333;
	text-decoration: none;
}

.tabs {
	border: 1px solid #ccc;
	width: 600px;
}
.tabs .tab_menu {
	overflow: hidden;
}
.tabs .tab_menu li {
	float: left;
	margin-right: 10px;
}

.tabs a.tab {
	display: block;
	width: 84px;
	text-align: center;
	font-size: 16px;
	background: red;
	color: #fff;
	font-weight: bold;
	padding: 10px 0;
	transition: all 0.5s;
}

.tabs a.current {
	background: orange;
	color: #333;
}

.tabs .contlist {
	display: none;
	padding: 15px;
	line-height: 1.5em;
	background: #ccf;
}
.tabs .contlist h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}
