* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.swiper_box {
	width: 1000px !important;
	height: 2000px !important;
	margin: 100px auto;
}

.swiper-container {
	width: 100%;
	height: auto;
	padding-bottom: 35px;
}
.swiper-slide {
	text-align: center;
	font-size: 40px;
	min-height: 400px; /*높이고정*/
	background: pink;
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	opacity: 1;
	background: green;
}

.swiper-pagination-bullet-active {
	background: red;
}
