@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{font-family:"돋움", "돋움체"; font-size:14px;}
ul,ol{ list-style:none;}
a{color:#333; text-decoration:none;}



.menu_box{position:absolute; left:0; top:50px; background:#0f0; border-bottom:2px solid #ccc;
                              filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7; width:100%; height:120px;}

#header{width:1000px; height:50px; margin:0 auto; padding-left:30px;text-align:left; border:1px solid #999;}
		
	.nav{clear:both;width:1000px;padding-top:18px;} 
	
	.nav ul.dropdownmenu{float:left;}
	.nav ul.dropdownmenu li.menu{position:relative;float:left;width:166px;height:35px;
			background:url(../images/main_04_19.jpg) right 0 no-repeat;}
	.nav ul.dropdownmenu li h3{position:relative;width:166px;height:20px; overflow:hidden}
	
            .nav ul.dropdownmenu li a.depth1{position:absolute;text-indent:-999px;display:block;width:166px;height:42px;}
	.nav ul.dropdownmenu li.m1 a.depth1{
			background:url(../images/main_nav1.jpg) 0 0 no-repeat;}
	.nav ul.dropdownmenu li.m2 a.depth1{
			background:url(../images/main_nav2.jpg) 0 0 no-repeat;}
	.nav ul.dropdownmenu li.m3 a.depth1{
			background:url(../images/main_nav3.jpg) 0 0 no-repeat;}
	.nav ul.dropdownmenu li.m4 a.depth1{ 
			background:url(../images/main_nav4.jpg) 0 0 no-repeat;}
	.nav ul.dropdownmenu li.m5 a.depth1{
			background:url(../images/main_nav5.jpg) 0 0 no-repeat;}
	.nav ul.dropdownmenu li.m6 a.depth1{ 
			background:url(../images/main_nav6.jpg) 0 0 no-repeat;}
	.nav ul.dropdownmenu li ul{width:166px;height:90px;position:absolute;top:35px;left:0;padding:15px 0;line-height:1.5em;}
	.nav ul.dropdownmenu li ul li{ text-align:center; font-weight:bold;}
	.nav ul.dropdownmenu li ul li a{color:#666;text-decoration:none}
	.nav ul.dropdownmenu li ul li a:hover{color:#333;text-decoration:none}

	
