* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.logo a {
  display: block;
  border: 1px solid red;
  width: 224px;
  height: 54px;
  background: url(../images/logo.jpg);
  text-indent: -999px;
  overflow: hidden;
  margin: 50px;
}

.hello {
  margin: 50px;
  width: 495px;
  height: 146px;
  border: 5px solid blue;
  background: url(../images/hello.gif);
  text-indent: -999px;
  overflow: hidden;
}

.hello:hover {
  background: url(../images/hello_on.gif);
}

.quick {
  overflow: hidden;
  list-style: none;
}

.quick li {
  float: left;
  margin-right: 30px;
}

.quick li a {
  display: block;
  width: 65px;
  height: 65px;
  text-indent: -999px;
  overflow: hidden;
}

.quick .q1 a {
  background: url(../images/faq.jpg);
}

.quick .q2 a {
  background: url(../images/gall.jpg);
}

.quick .q3 a {
  background: url(../images/intro.jpg);
}

.quick .q4 a {
  background: url(../images/way.jpg);
}

.quick .q1 a:hover {
  background: url(../images/faq_over.jpg);
}

.quick .q2 a:hover {
  background: url(../images/gall_over.jpg);
}

.quick .q3 a:hover {
  background: url(../images/intro_over.jpg);
}

.quick .q4 a:hover {
  background: url(../images/way_over.jpg);
}

.co {
  width: 340px;
  height: 322px;
  border: 1px solid red;
  background: url(../images/a1.jpg);
  text-indent: -999px;
  overflow: hidden;
  margin: 50px;
}
