* {
  margin: 0;
  padding: 0;
}

.border {
  overflow: hidden;
}

.box1 {
  width: 1000px;
  height: 1000px;
  border: 5px solid blue;
  background: url(../images/1.PNG);
  position: relative;
}

.box1 img {
  width: 1000px;
  height: 1000px;
}

.box1 .box2 {
  width: 500px;
  height: 500px;
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(5px); */
  /* backdrop-filter: contrast(250%); */
  /* backdrop-filter: grayscale(100%); */
  /* backdrop-filter: hue-rotate(120deg); */
  /* backdrop-filter: invert(100%); */
  /* backdrop-filter: opacity(20%); */
  /* backdrop-filter: saturate(150%); */
  /* backdrop-filter: blur(5px) grayscale(100%); */
  transition: all 0.5s ease-out;
}

.box1 .box2:hover {
  backdrop-filter: blur(10px);
}
