
*{margin:0; padding:0;}
ul{ list-style:none}
a{ color:#333; text-decoration:none}

.select{width:150px;  background:#fff; border:1px solid #ccc;
    position:relative;  margin:200px 0 0 50px}
.select .arrow{ display:block; font-size:1em; padding: 10px 0;
    text-align: center; transition: all 1s;}
.select .arrow i{font-size:.8em ; color: red;}
.select .arrow:hover{color:#fff; background: #000;}
.select .aList{ position:absolute; top:-177px; left:-1px; width:150px; 
    border:1px solid #ccc; display:none}
.select .aList li{ line-height:1.5em; border-bottom:1px solid #ccc;}
.select .aList li a{display:block;text-align: center; padding: 5px 0; transition: all 1s;}
.select .aList li a:hover{color:#fff; background: #333;}






